.img-meme {
  width: '80%';
  height: '50%';
  position: 'relative';
  word-wrap: 'break-word';
}
.text__top {
  position: 'absolute';
  width: '80%';
  text-align: 'center';
  left: '50%';
  transform: ' translateX(-50%)';
  margin: '15px 0';
  padding: '0 5px';
  font-family: 'impact, sans-serif';
  text-transform: 'uppercase';
  letter-spacing: '1px';
  text-shadow: '2px 2px 0 #000';
  display: 'inline';
}
